* {
    box-sizing: border-box;
    margin: 0;
}

.main {
    width: 100vw;
    height: 30px;
}

.row {
    width: 100vw;
    height: 30px;
    background-color: rgba(245,245,247,0.8);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    opacity: 80%;
    position: fixed;
}

.row p {
    color: black;
    font-family: inter, sans-serif;
    font-size: 12px;
}

.corner {
    width: 100vw;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: top 16px bottom 16px;
}

.corner p {
    color: black;
}

.first {
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: center;
}

.first img {
    width: 100%;
    height: 100%;
}


.second {
    width: 405px;
    height: 172px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.second h1 {
    color: white;
    font-family: inter, sans-serif;
}

.second p {
    color: white;
    font-family: inter, sans-serif;
}

.third {
    width: 207px;
    height: 44px;
    background-color: aqua;

}